$white = #ffffff
$borderColor = #fafafa
$blue = #3d6bad
$brown = #1e1e1e
body
  margin 0
  padding 0
  font-family sans-serif
  box-sizing border-box

.todolist
  max-width 600px
  margin 0 auto
  width 100%

.todolist-wrapper
  border-top 1px solid $borderColor
  background $white
  margin 0 0 40px 0
  position relative
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.2)
  border-radius 2px

.none
  display: none

h1
  text-align center
  color $blue

.task-input
  margin 20px 0
  width 100%
  background $borderColor
  padding 10px
  border none
  outline none
  box-sizing border-box

.todolist-task
  font-size 18px
  border-bottom 1px solid $borderColor
  padding 10px

.todolist-task
  a
    text-decoration  none
    color $brown
    &:hover
      color $blue

.checkbox
  display inline-block
  margin 0 10px

.task
  padding 0 20px
  width 250px
  display inline-block

button
  margin 0 10px
  padding 5px
  border 1px solid rgba(33, 150, 243, 0.3)
  outline none
  border-radius 3px
  background transparent

.close-task
  text-decoration none
  color #1e1e1e


